.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-40);
  padding-block: var(--spacing-64);
  padding-inline: var(--side-gap);
}

.devBar {
  display: flex;
  margin-top: calc(-1 * var(--spacing-24));
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-24);
  align-items: start;
}

@media (--bp-medium-up) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (--bp-xlarge-up) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (--bp-xxxlarge-up) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
