.root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background: var(--color-surface);
}

.main {
  position: relative;
  z-index: 1;
  flex: 1;
}
